.App{
    background-color: rgb(246, 246, 246);
    color: rgb(245, 243, 243);
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    padding-bottom: 30px;
    align-content: center;
}

.block{
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: 30px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 35px;
    margin-top: 100px;
    align-items: center;
    width: 800px;
    margin-left: 25%;
    height: 750px;
    margin-bottom: 20px;
    border-radius: 25px;
}


.header{
    display: flex;
    flex-direction: column;
    
    margin-top: 40px;
    margin-bottom: 10px;
    align-items: center;
    
    background-color: black;
    
}


.heading{
    color: rgb(101, 34, 163);
    font-size: 50px;
    font-weight: 700px;
    font-family:'Arial' ;
    margin-top: 20px;
    
}

.line{
    width: 60px;
    height: 5px;
    background: blueviolet;
    border-radius: 8px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    margin-left: 50px;
    align-items: center;
}

.form{
     
    display: flex;
    margin: 45px;
    gap: 30px;
    height: 75px;
    
    background: #eaeaea;;
    border-radius: 12px;
    outline: none;
    padding: 12px;
    
}

.form input{
    background: transparent;
    border-radius: 12px;
    outline: none;
    border-color: #eaeaea;
    height: 55px;
    width: 650px;
    
}

.reset{
    padding: 10px;
    font-size: 21px;
    color: rgb(66, 159, 162);
}

.reset span{
    color: blue;
    cursor: pointer;
}

.Google{
    margin-left: 35%;
    margin-top: 35px;
}

.signup{
    display: inline-block;
    flex-direction:row;
    justify-content:center;
    margin-left: 120px;
    margin-right: 150px;
    margin-top: 30px;
    
}


button {
    background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 25px;
}

button:hover{
    background-color : black;
}